<html>
    <head>
        <title>Summary</title>
        <meta name="viewport" content="width=520, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    </head>

    <body>

        <nav class="navbar navbar-default">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav" >
                    <li >
                            <a href="/sites">Sites</a>
                    </li>
                    <li class="active">
                            <a href="/summary-sum">Summary</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <h1>Summary</h1>
            {% if aggregation == "sum" %}
                <a href="/summary-sum"><button type="button" class="btn btn-primary active">Sum</button></a>
                <a href="/summary-average"><button type="button" class="btn btn-primary">Average</button></a>
            {% elif aggregation == "average" %}
                <a href="/summary-sum"><button type="button" class="btn btn-primary">Sum</button></a>
                <a href="/summary-average"><button type="button" class="btn btn-primary active">Average</button></a>
            {% endif %}


            <table class="table">
                <thead>
                    <tr>
                        <td><strong>Site</strong></td>
                        <td><strong>A Value</strong></td>
                        <td><strong>B Value</strong></td>
                    </tr>
                </thead>

                <tbody>
                {% for entry in summary_entries %}
                    <tr>
                        <td>{{ entry.site.name }}</td>
                        <td>{{ entry.a_value|floatformat:2}}</td>
                        <td>{{ entry.b_value|floatformat:2}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </body>
</html>